version: "3.9"

services:
  panel:
    build: .
    container_name: yunexal_panel
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: yunexal_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: yunexal_redis
    restart: unless-stopped

volumes:
  postgres_data:
